@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0 auto;
  padding: 0;
}
body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "SBAggroB";
}

#signup-form {
  display: flex;
  flex-direction: column;
}

.signup-container {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
  position: relative;
  animation: neonGlow 2s infinite;
}

.signup-container h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ccb8938f;
  border-radius: 2px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

#label_nickname {
  font-family: "SBAggroB";
  font-size: 20px;
  padding-bottom: 5px;
  color: #333;
}

#label_id {
  font-family: "SBAggroB";
  font-size: 20px;
  padding-bottom: 5px;
  margin-top: 5px;
  color: #333;
}
#label_pwd {
  font-family: "SBAggroB";
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.input-group input:focus {
  transform: scale(1.2);
  border-color: #007bff;
}

.signup-btn,
.login-home {
  width: 50%;
  padding: 12px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.15);
}

.signup-btn:hover,
.login-home:hover {
  background: linear-gradient(135deg, #0056b3, #004085);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 6px 18px rgba(0, 0, 0, 0.2);
}

.signup-btn:active,
.login-home:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.15);
}
@keyframes neonGlow {
  0% {
    text-shadow: 0px 0px 5px rgb(238, 196, 58);
  }
  50% {
    text-shadow: 0px 0px 15px rgb(220, 176, 20);
  }
  100% {
    text-shadow: 0px 0px 5px rgb(172, 148, 11);
  }
}
